<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user-edit"></i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title">
                       {{Data.Petugas}}
                    </h3>
                </div>
                <div class="card-footer">
                    <h4>Petugas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title">{{Data.Pelanggan}}</h3>
                </div>
                <div class="card-footer">
                    <h4>Pelanggan</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title">
                        {{Data.Pengaduan}}
                    </h3>
                </div>
                <div class="card-footer">
                    <h4>Pengaduan</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-plus-square"></i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title">{{Data.Pemasangan}}</h3>
                </div>
                <div class="card-footer">
                    <h4>Pemasangan</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-pen-nib"></i>
                    </div>
                    <p class="card-category"></p>
                    <h3 class="card-title">{{Data.Perubahan}}</h3>
                </div>
                <div class="card-footer">
                    <h4>Perubahan</h4>
                </div>
            </div>
        </div>

    </div>
</div>
