<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0">DAFTAR PETUGAS</h4>
                <div class="clearfix" />
                <div class="pull-right">
                    <a href="#modal-container-42722" role="button" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus-circle"></i></a>
                    <button class="btn btn-warning"><i class="fa fa-print"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    ID Petugas
                                </th>
                                <th>
                                    Nama
                                </th>
                                <th>
                                    Jenis Kelamin
                                </th>
                                <th>
                                    Alamat
                                </th>
                                <th>
                                    No Kontak
                                </th>
                                <th>
                                    Email
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Petugas">
                                <td>
                                    {{$index+1}}
                                </td>
                                <th>
                                    PT{{("0000000"+item.idpetugas).slice(-7)}}
                                </th>
                                <th>
                                    {{item.Nama}}
                                </th>
                                <th>
                                    {{item.JK}}
                                </th>
                                <th>
                                    {{item.Alamat}}
                                </th>
                                <th>
                                    {{item.NoKontak}}
                                </th>
                                <th>
                                    {{item.Email}}
                                </th>
                                <th>
                                    <a ng-click="EditItem(item)" href="#modal-container-42722" role="button" data-toggle="modal" ><i class="fas fa-pen text-warning fa-2x "></i></a>
                                    <a ng-click="DeleteItem(item)" href="" ><i class="fas fa-trash text-danger fa-2x" ></i></a>
                                </th>
                            </tr>

                        </tbody>
                    </table>l
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-container-42722" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-md modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">
                        <i class="fa fa-user">Petugas</i>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form role="form" ng-submit="Save(model)">
                    <div class="modal-body">

                        <div class="form-group">
                            <label>
                                Nama
                            </label>
                            <input ng-model="model.Nama" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Jenis kelamin
                            </label>
                            <div>
                                <input style="width:20px" type="radio" ng-model="model.JK" value="Pria" />Pria
                                <input style="width:20px" type="radio" ng-model="model.JK" value="Wanita" />Wanita
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Alamat
                            </label>
                            <input ng-model="model.Alamat" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Nomor Kontak
                            </label>
                            <input ng-model="model.NoKontak" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Email
                            </label>
                            <input ng-model="model.Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>
                                Foto
                            </label>
                            <input ng-model="model.Foto" type="file" />
                        </div>

                        <div class="modal-footer">
                            <input class="btn btn-default" value="Reset" type="button" ng-click="model={}" />
                            <input class="btn btn-success" type="submit" value="Save" />

                        </div>

                    </div>

                </form>
            </div>

        </div>

    </div>

</div>
