@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<style>
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    form {
        width: 370px
    }
</style>

<div class="container">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="material-icons">close</i>
        </button>
        <span>
            <h1>@ViewBag.Title.</h1>
            <b> Success - </b>  Please check your email to reset your password.
        </span>
    </div>
  
</div>
	
