<div data-ng-include="'/Apps/templates/petugas/leftnav.html'">
</div>
<div data-ng-include="'/Apps/templates/admin/topnav.html'">
</div>

<div class="main-panel">
    <!-- Navbar -->
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="ui-base">
                <div ui-view />
            </div>

        </div>

    </div>

</div>