<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-toolbox"></i>
                    </div>
                    <p class="card-category">Pemasangan</p>
                    <h3 class="card-title">
                      30
                    </h3>
                </div>
                <div class="card-footer">
                   
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <p class="card-category">Pengaduan</p>
                    <h3 class="card-title">1</h3>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
