<div class="row">

    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header card-header-primary">
                <h4 class="card-title mt-0">DAFTAR PENGADUAN</h4>
                <p class="card-category">Work List</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Pelanggan
                                </th>
                                <th>
                                    Pengaduan
                                </th>
                                <th>
                                    Waktu Lapor
                                </th>
                                <th>
                                    Waktu Selesai
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Verifikasi
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Pengaduans">
                                <td>
                                    {{$index+1}}
                                </td>
                                <td>
                                    {{item.IdPelanggan}}
                                </td>
                                <td>
                                    {{item.Pengaduan}}
                                </td>
                                <td>
                                    {{item.WaktuLapor}}
                                </td>
                                <td>
                                    {{item.WaktuSelesai}}
                                </td>
                                <td>
                                    {{item.Status}}
                                </td>
                                <td>
                                    <button>Proccess</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>