<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            <label class="label-title">Nama</label>
            <input readonly ng-model="Item.Pelanggan.Nama" />
        </div>

        <div class="form-group">
            <label class="label-title">Jenis Kelamin</label>
            <input readonly ng-model="Item.Pelanggan.JK" />
        </div>

        <div class="form-group">
            <label class="label-title">Alamat</label>
            <textarea readonly ng-model="Item.Pelanggan.Alamat"></textarea>
        </div>

        <div class="form-group">
            <label class="label-title">Nomor Kontak</label>
            <input readonly ng-model="Item.Pelanggan.NoIdentitas" />
        </div>

        <div class="form-group">
            <label class="label-title">Email</label>
            <input readonly ng-model="Item.Pelanggan.Email" />
        </div>
    </div>
    <div class="col-md-2">
        <img style="width:100px" src="../../../assets/img/blue-user-icon-32.jpg" />
    </div>
</div>